################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TimeTrackingServices
/ClockIn/bin/Debug/net8.0
/ClockIn/obj/Debug/net8.0
/.vs/ProjectEvaluation
